@charset "utf-8";
@import "./reset.css";

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    line-height: 100px;
    align-items: center;
    nav ul {
        display: flex;
        list-style: none;
        gap: 20px;
        font-size: 18px;
    }
    border-bottom: 1px solid black;
}

main {
    display: flex;
    flex-direction: column;
    padding: 60px;
    justify-content: center;
    font-size: 2rem;
}

dialog {
    height: 260px;
    width: 300px;
    padding: 20px;
    place-self: center;
    border: none;
    border-radius: 10px;
}

button {
    padding: 10px 30px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: rgb(55, 55, 245);
    color: #fff;
    font-weight: 600;
}

#settingsbtn {
    background-color: #fff;
    color: rgb(55, 55, 245);
    border: 1px solid rgb(55, 55, 245);
    margin-left: 10px;
}

#settings:modal {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
        display: flex;
        justify-content: space-between;
        line-height: 34px;
    }
}

input {
    background-color: rgb(143, 143, 143);
    appearance: none;
    height: 20px;
    width: 32px;
    border: none;
    border-radius: 50px;
    transition: background-color 100ms ease-in-out;
}
input:checked{
    background-color: rgb(60, 130, 210);
}

input::after {
    content: "";
    background-color: white;
    display:block;
    aspect-ratio: 1;
    height: 100%;
    border: 3px solid rgb(92, 92, 92);
    border-radius: 50%;
    transition: translate 100ms ease-in;
}
input:checked::after {
    border-color: rgb(20, 85, 155);
    translate: 12px;
}